sudo: required
services:
  - docker

#
# series of commands to run before running tests
#
# -t  for tagging image you can name it anything

before_install:
  - docker build -t singhadev01/docker-react3 -f DockerFile.Dev .

#
# series of command to run as part of test suite
# if u get status code !=0  then travis assum test failed

# override default run command with npm run test or yarn test
script:
  - docker run -e CI=true singhadev01/docker-react3 yarn test -- --coverage
#
# travis ci comes up with option to deploy to predefined providers
# travis ci will zip our code from master branch and push to s3 bucket
# sepecify app name value as bucket_path

# use awas api key to grant travis-ci access  to aws

# deploy:
#   provider: elasticbeanstalk
#   region: "us-east-1"
#   app: "docker-react2"
#   env: "DockerReact2-env"
#   bucket_name: "elasticbeanstalk-us-east-1-767455433881"
#   bucket_path: "docker-react2"
#   on:
#     branch: master
#   access_key_id: "$AWS_ACCESS_KEY"
#   secret_access_key:
#     secure: "$AWS_SECRET_ACCESS_KEY"
